* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
}

#back1 {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.style-hover {
    padding: 25px;
}

.style-hover:hover {
    background-color: #CBAC6B;
}

.style-lien:hover {
    background-color: unset !important;
    color: #CBAC6B !important;
}

#logo {
    width: 85%;
}
