* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
}

#back1 {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.style-hover {
    padding: 25px;
}

.style-hover:hover {
    background-color: #CBAC6B;
}

.style-lien:hover {
    background-color: unset !important;
    color: #CBAC6B !important;
}

#logo {
    width: 85%;
}

.style-h2 {
    width: 43%;
    text-align: center;
}

/*----------- Style section présentation d'activité ----------*/
#act1 {
    height: 450px;
    background: url(../assets/images/activites/bg_activite_1.jpg) center;
}
#act2 {
    height: 450px;
    background: url(../assets/images/activites/bg_activite_2.jpg);
}
#act3 {
    height: 450px;
    background: url(../assets/images/activites/bg_activite_3.jpg);
}
#act4 {
    height: 450px;
    background: url(../assets/images/activites/bg_activite_4.jpg);
}

/*----------- Style footer -----------*/
.style-footer{
    background-color: #282828;
}

.style-p-hover:hover{
    cursor: pointer;
    color: #CBAC6B;
}


