@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-family: 'Bebas Neue';
}

.style-a{
    font-family: 'Bebas Neue';
}

.style-p{
    font-family: 'Bebas Neue';
}

.dropdown-menu{
    border-radius: 0 !important;
}

#top-67{
    top: 67% !important;
}

.btn{
    font-family: 'Bebas Neue' !important;
    width: 10% !important;
    border-radius: 0 !important;
}

.style-hover {
    padding: 19px;
}

.style-hover:hover {
    background-color: #CBAC6B;
}

.style-lien:hover {
    background-color: unset !important;
    color: #CBAC6B !important;
}

#logo {
    width: 85%;
}

.style-h2 {
    width: 43%;
    text-align: center;
}

.style-h5{
    font-family: 'Bebas Neue' !important;
}

/*-----------Style du bouton du carrousel principal----------*/

.btm1 {
    width: 15px !important;
    height: 15px !important;
    border-radius: 75% !important;   
}

/*----------- Style section présentation d'activité ----------*/
#act1 {
    height: 450px;
    background: url(../assets/images/activites/bg_activite_1.jpg) center/cover no-repeat;
}
#act2 {
    height: 450px;
    background: url(../assets/images/activites/bg_activite_2.jpg) center/cover no-repeat;
}
#act3 {
    height: 450px;
    background: url(../assets/images/activites/bg_activite_3.jpg) center/cover no-repeat;
}
#act4 {
    height: 450px;
    background: url(../assets/images/activites/bg_activite_4.jpg) center/cover no-repeat;
}

/*----------- Style section partenaire --------------*/
.style-section-partenaire{
    background-color: #282828;
}

/*----------- Style footer -----------*/
.style-footer{
    background-color: #282828;
}

.style-p-hover:hover{
    cursor: pointer;
    color: #CBAC6B;
}

/*--------- Style media query -------------*/

@media  screen and (max-width: 576px) {
    #navbarSupportedContent {
        background-color: black !important;
    }
    
}


/*--------- Page de Présentation -------------*/

h3{
    font-family: 'Bebas Neue';
}
